.bkg-white {
    background-color: #fff;
}

.text-dk-gray {
    color: #757575;
}


input#id_rating::-webkit-outer-spin-button,
input#id_rating::-webkit-inner-spin-button {
   opacity: 1;
}

input[type=number]#id_rating {
    -moz-appearance: numberfield;
}
