<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="steel-weapons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weaponry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="steel-weapons">
                <a href="{% url 'products' %}?category=swords" class=" dropdown-item">Swords</a>
                <a href="{% url 'products' %}?category=daggers" class=" dropdown-item">Daggers</a>
                <a href="{% url 'products' %}?category=knives" class=" dropdown-item disabled">Knives (coming soon)</a>
                <a href="{% url 'products' %}?category=pikes_maces" class=" dropdown-item">Pikes &amp; Maces</a>
                <a href="{% url 'products' %}?category=bows,crossbows" class=" dropdown-item">Bows &amp; Crossbows</a>
                <a href="{% url 'products' %}?category=swords,daggers,knives,pikes_maces,bows,crossbows" class=" dropdown-item">All Weaponry</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="armour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Armour &amp; Backpacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="armour">
                <a href="{% url 'products' %}?category=cloth" class="dropdown-item">Cloth</a>
                <a href="{% url 'products' %}?category=leather" class="dropdown-item">Leather</a>
                <a href="{% url 'products' %}?category=chain" class="dropdown-item">Chain</a>
                <a href="{% url 'products' %}?category=steel" class="dropdown-item">Steel</a>
                <a href="{% url 'products' %}?category=backpack" class="dropdown-item">Backpacks</a>
                <a href="{% url 'products' %}?category=cloth,leather,chain,steel,backpack" class="dropdown-item">All Armour</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="food-potions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food &amp; Potions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-potions">
                <a href="{% url 'products' %}?category=food" class="dropdown-item">Food</a>
                <a href="{% url 'products' %}?category=potions" class="dropdown-item">Potions</a>
                <a href="{% url 'products' %}?category=healing" class="dropdown-item">Healing</a>
                <a href="{% url 'products' %}?category=food,potions,healing" class="dropdown-item">All Food and Potions</a>
            </div>
        </li>
    </ul>
</div>