<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Information
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="info">
                <a data-toggle="modal" data-target="#about" class="dropdown-item">About</a>
                <a data-toggle="modal" data-target="#help" class="dropdown-item ">Help</a>
                <a data-toggle="modal" data-target="#mission" class="dropdown-item ">Current Mission</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="steel-weapons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weaponry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="steel-weapons">
                <a href="{% url 'products' %}?category=swords" class=" dropdown-item">Swords</a>
                <a href="{% url 'products' %}?category=daggers" class=" dropdown-item">Daggers</a>
                <a href="{% url 'products' %}?category=knives" class=" dropdown-item disabled">Knives (coming soon)</a>
                <a href="{% url 'products' %}?category=pikes_maces" class=" dropdown-item">Pikes &amp; Maces</a>
                <a href="{% url 'products' %}?category=bows,crossbows" class=" dropdown-item">Bows &amp; Crossbows</a>
                <a href="{% url 'products' %}?category=swords,daggers,knives,pikes_maces,bows,crossbows" class=" dropdown-item">All Weaponry</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="armour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Armour &amp; Backpacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="armour">
                <a href="{% url 'products' %}?category=cloth" class="dropdown-item">Cloth</a>
                <a href="{% url 'products' %}?category=leather" class="dropdown-item">Leather</a>
                <a href="{% url 'products' %}?category=chain" class="dropdown-item">Chain</a>
                <a href="{% url 'products' %}?category=steel" class="dropdown-item">Steel</a>
                <a href="{% url 'products' %}?category=backpack" class="dropdown-item">Backpacks</a>
                <a href="{% url 'products' %}?category=cloth,leather,chain,steel,backpack" class="dropdown-item">All Armour</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="food-potions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food &amp; Potions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-potions">
                <a href="{% url 'products' %}?category=food" class="dropdown-item">Food</a>
                <a href="{% url 'products' %}?category=potions" class="dropdown-item">Potions</a>
                <a href="{% url 'products' %}?category=healing" class="dropdown-item">Healing</a>
                <a href="{% url 'products' %}?category=food,potions,healing" class="dropdown-item">All Food and Potions</a>
            </div>
        </li>
    </ul>
</div>
<!-- Display Modals -->
<!-- About Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg-head text-center">
                <h3 class="modal-title w-100 text-lime glow-2 font-weight-bold">About</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Welcome to Warmasters - the role playing game of the future.</p>
                <br>
                <p>Warmasters is set in a fantasy land of a time on Earth might have once existed. Filled with mystical creatures that can control the elements, animals with conscience and reasoning, humanoid breeds that have adapted to their environment
                    they're best suited to. But along with the unique creatures comes struggles of power, riches, information and control.
                </p>
                <br>
                <p>You can choose a mission, take part in growing your character, take part in epic battles and quests for riches, power and glory. Choose your side and join in with friends to take on mighty quests and discover new lands, creatures and elemental
                    control to become glorious and notorious all at the same time.
                </p>
            </div>
            <div class="modal-footer modal-bg-foot">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Help Modal -->
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-bg-head text-center">
                <h3 class="modal-title w-100 text-lime glow-2 font-weight-bold">Help</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sign up, login and take part.</p>
                <br>
                <p>Although purchasing equipment for a quest is extremely helpful and makes your task easier, but you can complete all missions without spending a cent.
                </p>
                <br>
                <p>Just remember, each time you purchase something, you help pay for the servers, the labour and expanding the game into a virtual reality and fully immersed experience that will take you into the real world and beyond!
                </p>
            </div>
            <div class="modal-footer modal-bg-foot">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Mission Modal with scrollbars -->
<div class="modal fade" id="mission" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document" style="overflow-y:initial!important;">
        <div class="modal-content">
            <div class="modal-header modal-bg-head text-center">
                <h3 class="modal-title w-100 text-lime glow-2 font-weight-bold">Mission</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:80vh;overflow-y:auto;">
                <p>When you're logged in, you can take part in the current mission.</p>
                <br>
                <h4 class="text-center">The Crystal Dragon Awakens
                </h4>
                <br>
                <p>In the far northern kingdom of Oron, nestled deep in a mountain cave, the crystal dragon, Yunsian was woken from a 1000 year slumber. Woken by a raiding party from the nearby village of Grafensberg, looking to stumble on the riches of
                    Yunsian.
                </p>
                <br>
                <p>Yunsian, usually a peaceful dragon, rarely predates on the nearby villages, had not been discovered since returning to her cave 800 years ago. The incursion infuriated Yunsian and she emerged from her cave to seek revenge on nearby villages.
                </p>
                <br>
                <p>The Kingdom of Tarkarst was ruled by the Dark Knight, Primckialle. Primckialle had ruled with an iron fist but against his brother, Hule’s wishes, he had never considered building the Tarkarns, the warring faction of Tarkarst. For 400
                    years the army has grown, and the northern towns and villages have always been fearful. But Primckialle, although his dark elven ancestry would suggest he’d take to war, was mostly at peace with neighbouring kingdoms.
                </p>
                <br>
                <p>After Yunsian woke, she tracked east, south east and attacked Carkerim, sacking the village entirely. Hearing of this, Primckialle took 100 soldiers to hunt down Yunsian and put an end to the attacks on his villages. Primckialle had a
                    weapon that was forged in the breath of the golden dragon, Grimllionsh, a weapon so powerful it is rumoured to have ended the 600 year war of the north. The weapon known as Djavuliar was something that the Tarkarns rallied together
                    under the banner of the gold dragon.
                </p>
                <br>
                <p>Primckialle hunted down Yunsian near Goldhall of the kingdom of Oron. He, and his 100 men were no match for the infuriated Yunsian, and all perished. Yunsian, fascinated by Djavuliar picked up the sword and returned to her cave.
                </p>
                <br>
                <p>It is now feared in the South that Hule will set out with the Tarkarns to avenge the death of his brother, but in the mean time, securing Djavuliar and controlling the armies of the North East. It is possible, if Hule is able to secure
                    the sword that he will begin war, at once, with Oronians and if they should fall, the remaining northern kingdoms would be too fearful to rise up against Hule and would join his ranks. It would only be a matter of time before war is
                    bestowed upon the South. An area of the country that has been at peace for as long as time can remember.
                </p>
                <br>
                <p>Fearing that sending an army would re-ignite Yunsian desire for revenge, the Rhuaden, protectors of the south, are sending a lone warrior – thief to hunt out the dragon’s lair and reclaim the Tarkarns prize of Djavuliar.
                </p>
                <br>
                <p>Once found, our hero must return the sword to the free state of Myrth and find the wizard Jové who will pay a large sum for the sword.
                </p>
            </div>
            <div class="modal-footer modal-bg-foot">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>