<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="steel-weapons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weaponry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="steel-weapons">
                <a href="" class="dropdown-item">Swords</a>
                <a href="" class="dropdown-item">Daggers</a>
                <a href="" class="dropdown-item disabled">Knives (coming soon)</a>
                <a href="" class="dropdown-item">Pikes &amp; Maces</a>
                <a href="" class="dropdown-item">Bows &amp; Crossbows</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="armour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Armour &amp; Backpacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="armour">
                <a href="" class="dropdown-item">Cloth</a>
                <a href="" class="dropdown-item">Leather</a>
                <a href="" class="dropdown-item">Chain</a>
                <a href="" class="dropdown-item">Steel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="food-potions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food &amp; Potions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-potions">
                <a href="" class="dropdown-item">Food</a>
                <a href="" class="dropdown-item">Potions</a>
                <a href="" class="dropdown-item">Healing</a>
            </div>
        </li>
    </ul>
</div>