{% extends "game/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'game/css/game.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'game/js/game.js' %}"></script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-yellow">Your Trading Post
                <span class="float-right">Trade Capacity: {{ trade.trade_size }} <i
                        class="fas fa-shield-alt text-yellow"></i></span>
                <span class="float-right mr-5">Gold: {{ gold }} <i
                        class="fas fa-coins text-yellow"></i></span>
            </h2>
            <hr>
        </div>
    </div>
</div>
<div class="card mx-auto mt-2 mb-3 col-sm-9 min-height">
    <div class="card-body">
        <p class="float-right"><a href="{% url 'game_profile' %}">Profile</a> | <a
                href="{% url 'game_item_bag' %}">Bag</a> | <a href="{% url 'game_item_storage' %}">Storage</a></p><br>
        <h5 class="card-title">You have the following items at the trading post.</h5>
        <h5 class=card-title">Your total trade capacity remaining = {{ trade_size }}</h5>
        <!-- Sorting Items -->
        <div class="container-fluid">
            <div class="row float-right">
                <select id="sort-selector" class="form-select form-select-sm">
                    <option selected>Sort your items...</option>
                    <option value="name_asc">Items: A-Z</option>
                    <option value="name_desc">Items: Z-A</option>
                    <option value="category_asc">Categories: A-Z</option>
                    <option value="category_desc">Categories: Z-A</option>
                </select>
            </div>
        </div><br>
        <div class="row">
        {% for game_item in game_items %}
            {% if game_item.location == "Trade" %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card border-1" style="height: 15rem;">
                    <img class="image-size card-img-top img-fluid mx-auto" src="{{ MEDIA_URL}}{{ game_item.image }}"
                        alt="{{ game_item.product }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ game_item.product }}</h5>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}