{% extends "game/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'game/css/game.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'game/js/game.js' %}"></script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-yellow">Your Dungeon Keep
                <span class="float-right">Hold: {{ storage.storage_size }} <i
                        class="fas fa-dungeon text-yellow"></i></span>
            </h2>
            <hr>
        </div>
    </div>
</div>
<div class="card border-primary mx-auto mt-2 mb-3 col-sm-9 min-height">
    <div class="card-body">
        <h5 class="card-title">You have the following items in your Dungeon Keep.</h5>
        <ul>
            {% for category in categories %}
                <button class="btn btn-black rounded-0" type="button" data-toggle="collapse"
                    data-target="#{{ category.name }}"
                    aria-expanded="false" aria-controls="{{ category.name }}">
                    {{ category.friendly_name }}
                </button>
            <div class="collapse" id="{{ category.name }}">
                <div class="card col-sm-12 col-md-4">
                    <div class="row mt-2 mb-2">
                        {% for game_item in game_items %}
                        {% if game_item.category.name == category.name %}
                            <div class="card ml-2">
                                <img class="image-size card-img-top img-fluid mx-auto" src="{{ MEDIA_URL}}{{ game_item.image }}"
                                        alt="{{ game_item.product }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ game_item.product }}</h5>
                                    <a href="#" class="btn btn-primary">Move {{ game_item.product }}</a>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}