{% extends "game/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'game/css/game.css' %}">
{% endblock %}

{% block extra_js %}
     <script src="{% static 'game/js/game.js' %}"></script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-yellow">Your Character Profile</h2>
            <hr>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                {% if gold %}
                <h2>Gold: {{ gold }} <i class="fas fa-coins text-yellow"></i></h2>
                {% else %}
                <h2>Gold: 0 <i class="fas fa-coins text-yellow"></i></h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="card mt-2 mr-2 col-lg-3" style="width: 18rem;">
            <img class="card-img-top img-fluid mx-auto" style="max-width: 18rem;" src="
                {{MEDIA_URL}}warrior-no-image.jpg" alt="Chosen Character Image">
            <div class="card-header">
                Character
            </div>
            <div class="card-body">
                Character will go here
            </div>
        </div>
        <div class="card mt-2 mr-2 col-lg-3" style="width: 18rem;">
            <img class="card-img-top img-fluid mx-auto" style="max-width: 18rem;" src="{{ MEDIA_URL}}backpack.jpg"
                alt="Backpack storage">
            <i class="fas fa-expand-alt text-right mt-1 mb-1" data-toggle="popover"
                data-content="Buy more bag space with your gold."></i>
            <div class="card-header">
                <p>Bag Items</p>
                <p>Space Remaining: {{ bag_size }}</p>
            </div>
            <div class="card-body">
                {% include 'game/game_bag.html' %}
            </div>
        </div>
        <div class="card mt-2 col-lg-3" style="width: 18rem;">
            <img class="card-img-top img-fluid mx-auto" style="max-width: 18rem;" src="{{ MEDIA_URL}}dungeon-keep.jpg" alt="Dungeon keep storage">
            <i class="fas fa-expand-alt text-right mt-1 mb-1" data-toggle="popover"
                data-content="Buy more storage space with your gold."></i>
            <div class="card-header">
                <p>Storage Items</p>
                <p>Space Remaining: {{ storage_size }}</p>
            </div>
                 <div class="card-body">
                     {% include 'game/game_storage.html' %}
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
