{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
  <hr>
    <h2 class="logo-font mb-4 text-yellow">{% trans "Sign Up" %}</h2>
  <hr>

<p class="text-muted text-med-gray">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You
  are about to use your <strong>{{provider_name}}</strong> account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  <span class="text-med-gray">{{ form|crispy }}</span>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Home</a>
  <button class="primaryAction" type="submit">{% trans "Sign Up" %}</button>
</form>

<small class="text-center"><a href="{% url 'terms' %}">Terms & Conditions</a> | <a href="{% url 'privacy' %}">Privacy</a></small>

{% endblock %}
